Repository raoulg/MADS-MachineLearning-course: changes, and which lefthook commands are due for each by the changed paths.
All: toml-sort, mypy

.lefthook.yml:

pre-commit:
  commands:
    black:
      files: git ls-files
      glob: '*.{py, ipynb}'
      run: black {staged_files}
      stage_fixed: true
    clean-jupyter:
      files: git ls-files
      glob: '*.ipynb'
      run: jupyter nbconvert --clear-output --inplace {staged_files}
      stage_fixed: true
    toml-sort:
      glob: '*.toml'
      run: toml-sort {staged_files}
      stage_fixed: true
    ruff:
      files: git ls-files
      glob: '*.py'
      run: ruff {staged_files} --fix
    mypy:
      glob: '*.py'
      run: mypy --pretty {staged_files}
    lychee:
      run: lychee . --suggest --max-concurrency 32 --cache --format detailed --header "accept=*/*"

pre-merge:
  commands:
    black:
      glob: '*.{py, ipynb}'
      run: black {all_files}
      stage_fixed: true
    clean-jupyter:
      glob: '*.ipynb'
      run: jupyter nbconvert --clear-output --inplace {all_files}
      stage_fixed: true
    toml-sort:
      glob: '*.toml'
      run: toml-sort {all_files}
      stage_fixed: true
    ruff:
      glob: '*.py'
      run: ruff {all_files} --fix
    mypy:
      glob: '*.py'
      run: mypy --pretty {all_files} --ignore-missing-imports
    lychee:
      run: lychee . --suggest --max-concurrency 32 --cache --format detailed --header "accept=*/*"

presentation les 6
  notebooks/6_unsupervised/deep_learning_6.pdf
Due: none

move lesson 7 to extras
  notebooks/7_whatsnext/explainable/XX_extra_xgboost_explainer.ipynb
  notebooks/8_extras/deployment/01_maintainable.md
  notebooks/8_extras/deployment/02_scalable.md
  notebooks/8_extras/deployment/03_interface.md
  notebooks/8_extras/deployment/04_social_contracts.md
  notebooks/8_extras/deployment/05_testing.md
  notebooks/8_extras/deployment/img/01_pipeline.png
  notebooks/8_extras/deployment/img/01_project_organic.png
  notebooks/8_extras/deployment/img/01_project_organized.png
  notebooks/8_extras/deployment/img/02_randomnaming.png
  notebooks/8_extras/deployment/img/02_structurednaming.png
  notebooks/8_extras/deployment/img/03_dataprocessorV1.png
  notebooks/8_extras/deployment/img/03_dataprocessorV2.png
  notebooks/8_extras/deployment/img/03_unmaintainable.png
  notebooks/8_extras/deployment/img/04_multiply.png
  notebooks/8_extras/deployment/img/04_simplify.png
  notebooks/8_extras/deployment/img/05_communicate.png
  notebooks/8_extras/deployment/img/05_datahandlers.png
  notebooks/8_extras/explainable/01_deepclassification.ipynb
  notebooks/8_extras/explainable/02_image_explainer.py
  notebooks/8_extras/explainable/03_shap_values.py
  notebooks/8_extras/explainable/Makefile
  notebooks/8_extras/explainable/README.md
  notebooks/8_extras/explainable/XX_extra_xgboost_explainer.ipynb
  notebooks/8_extras/explainable/img/categories.jpeg
  notebooks/8_extras/explainable/img/final.jpeg
  notebooks/8_extras/explainable/img/shap.jpeg
  notebooks/8_extras/explainable/mnist.sh
  notebooks/8_extras/explainable/trained_model.pt
  notebooks/8_extras/julia_dl/01_linear.jl
  notebooks/8_extras/julia_dl/02_mnist.jl
  notebooks/8_extras/julia_dl/Makefile
  notebooks/8_extras/julia_dl/Manifest.toml
  notebooks/8_extras/julia_dl/Project.toml
  notebooks/8_extras/julia_dl/error.png
  notebooks/8_extras/julia_dl/losses.png
Due: toml-sort, mypy

add lesson 7 on graphs
  notebooks/7_graphs/01_intro.ipynb
  notebooks/7_graphs/02_clusters_in_graphs.ipynb
  notebooks/7_graphs/03_gnn.ipynb
  notebooks/7_graphs/deep_learning_7.pdf
Due: none

add torch_geometric as optional dependency for the graphs lessons
  pdm.lock
  pyproject.toml
Due: toml-sort

Update README.md
  README.md
Due: none

remove line
  notebooks/0-baseline/00_environment_setup.md
  notebooks/7_graphs/01_intro.ipynb
  references/codestyle/03_dependencies_management.md
Due: none

update README
  .gitignore
  Makefile
  README.md
Due: none

update pdm
  pdm.lock
Due: none

[pdm] fix mltrainer accuracy error with v0.1.123
  pdm.lock
  pyproject.toml
Due: toml-sort

[les 1] add extra comments to notebooks, update exercises
  notebooks/1_pytorch_intro/03_dataloader.ipynb
  notebooks/1_pytorch_intro/05_image_classfication.ipynb
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

rename pdfs
  presentations/00_lab-setup.pdf
  presentations/01_git crash course.pdf
  presentations/deep_learning_5.pdf
Due: none

[les 1-3] move to mps where that is faster; mltrainer v0.1.124
  notebooks/1_pytorch_intro/05_image_classfication.ipynb
  notebooks/2_convolutions/02_convolutions.ipynb
  notebooks/2_convolutions/03_mlflow.ipynb
  notebooks/3_recurrent_networks/03_basemodels.ipynb
  pdm.lock
  pyproject.toml
Due: toml-sort

[dependencies] add rye in the pyproject.toml file, and requirements.lock files.
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

improve description of exercises
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

[lesson 1] add some details about cuda/mps in tensors notebook
  notebooks/1_pytorch_intro/01_tensors.ipynb
Due: none

[les 2] add some notes
  notebooks/2_convolutions/03_mlflow.ipynb
Due: none

[les 3] update presentation
  presentations/deep_learning_3.pdf
Due: none

[les 3] add device to exercise
  notebooks/3_recurrent_networks/04_excercise.ipynb
Due: none

[les 4] add device to hypertune.py
  notebooks/4_tuning_networks/hypertune.py
Due: mypy

gitignore
  .gitignore
Due: none

[les 4] add colab button to transfer learning
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
Due: none

[les 4] minimal transfer learning example
  notebooks/4_tuning_networks/05_minimal_transfer_learning.ipynb
  notebooks/4_tuning_networks/06_excercises.ipynb
Due: none

[les 4] minimal transfer learning example
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
Due: none

[les 4] fix import volgorde voor colab
  notebooks/4_tuning_networks/05_minimal_transfer_learning.ipynb
Due: none

[les 4] kdeplot van ray hypertune results
  notebooks/4_tuning_networks/03_ray.ipynb
Due: none

[les4] improved transfer learning example with flowers
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
Due: none

update mltrainer to 0.1.125
  pyproject.toml
Due: toml-sort

mltrainer==0.1.127, add transformers notebook
  notebooks/5_attention/01_reweighing.ipynb
  notebooks/5_attention/02_transformer.ipynb
  notebooks/5_attention/03_Attention_gestures.ipynb
  notebooks/5_attention/04_imdb_preprocessing.ipynb
  notebooks/5_attention/05_imdb_attention.ipynb
  notebooks/5_attention/06_metric.ipynb
  notebooks/5_attention/07_excercise.ipynb
  notebooks/5_attention/transformers.pbm
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

[les 4] put scheduler.step in test phase
  notebooks/4_tuning_networks/05_minimal_transfer_learning.ipynb
Due: none

[les 4] remove constraint on mltrainer version for colab
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
Due: none

[les 4] demo transfer learning flowers 60% accuracy
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
  notebooks/4_tuning_networks/modellog/20231019-122137/events.out.tfevents.1697710897.Raouls-MacBook-Pro.local.85223.0
Due: none

[les 4] skip cell that crashes colab
  notebooks/4_tuning_networks/04_transfer_learning_with_resnet.ipynb
Due: none

[les 5] update pdf
  presentations/deep_learning_5.pdf
Due: none

[les 5] change logdir to avoid confusion
  notebooks/5_attention/05_imdb_attention.ipynb
Due: none

[les 6] update presentatie
  presentations/deep_learning_6.pdf
Due: none
