Repository raoulg/MADS-MachineLearning-course: changes, and which lefthook commands are due for each by the changed paths.
All: toml-sort, mypy

toml-sort:
  run: toml-sort {staged_files}
  stage_fixed: true

mypy:
  run: mypy --pretty {staged_files}

[les 6] fix README make instruction
  notebooks/6_unsupervised/README.md
Due: none

start-stop mlflow with sh script
  notebooks/2_convolutions/start_server.sh
  notebooks/2_convolutions/stop_server.sh
Due: none

[les 4] update exercises
  notebooks/4_tuning_networks/06_excercises.ipynb
  notebooks/4_tuning_networks/06_hypertuning_exercise.md
Due: none

[les 4] update hypertune example notebook
  notebooks/4_tuning_networks/02_hypertuner.ipynb
  notebooks/4_tuning_networks/visualize.py
Due: mypy

[les 7] some updates in the pdf
  presentations/deep_learning_7.pdf
  pyproject.toml
Due: toml-sort

move lab setup to references
  references/00_lab-setup.pdf
  references/01_git crash course.pdf
Due: none

Update README.md
  README.md
Due: none

add cuda to intro
  notebooks/1_pytorch_intro/05_image_classfication.ipynb
Due: none

update cuda
  notebooks/2_convolutions/02_convolutions.ipynb
Due: none

add cuda
  notebooks/2_convolutions/03_mlflow.ipynb
  notebooks/3_recurrent_networks/04_excercise.ipynb
Due: none

add cuda
  notebooks/5_attention/03_Attention_gestures.ipynb
  notebooks/5_attention/05_imdb_attention.ipynb
Due: none

update README installation with rye
  README.md
Due: none

remove hpbandster
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

update device for torchsummary
  notebooks/2_convolutions/03_mlflow.ipynb
Due: none

remove BOHB and netifaces dependency from tuning
  notebooks/4_tuning_networks/02_hypertuner.ipynb
  notebooks/4_tuning_networks/hypertune.py
Due: mypy

simplify install, add uv back in
  README.md
Due: none

remove outdated courseguide
  references/courseguide/courseguide.aux
  references/courseguide/courseguide.fdb_latexmk
  references/courseguide/courseguide.fls
  references/courseguide/courseguide.log
  references/courseguide/courseguide.out
  references/courseguide/courseguide.pdf
  references/courseguide/courseguide.synctex.gz
  references/courseguide/courseguide.tex
Due: none

typo, rename
  README.md
  references/00_azure-lab-setup.pdf
Due: none

add empty datafolder, cleanup deprecated pdm.lock
  .gitignore
  data/external/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
  pdm.lock
  references/codestyle/03_dependencies_management.md
Due: none

update mads-datasets to v0.3.11
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

add video reminder to readme
  README.md
Due: none

update les1.md leerdoelen
  references/leerdoelen/les1.md
Due: none

update readme
  README.md
Due: none

update leerdoelen
  references/leerdoelen/les1.md
  references/leerdoelen/les2.md
  references/leerdoelen/les3.md
Due: none

added SURF manual to references
  references/00-SURF-lab-setup.pdf
Due: none

Update les1.md
  references/leerdoelen/les1.md
Due: none

fix remark about loading from disk
  notebooks/1_pytorch_intro/03_dataloader.ipynb
Due: none

corrected multiclass to multilabel
  notebooks/2_convolutions/01_losses.ipynb
Due: none

added presentation for privacy preseving ml
  presentations/20240827 Privacy Preserving Machine Learning.pdf
Due: none

fix device for summary
  notebooks/1_pytorch_intro/05_image_classfication.ipynb
Due: none

update references
  references/00-azure-lab-setup.pdf
  references/00_azure-lab-setup.pdf
  references/codestyle/01_path.md
  references/codestyle/02_version_management.md
  references/codestyle/03_dependencies_management.md
Due: none

lychee cache increased
  .lefthook.yml
Due: none

lesson 2 - mlflow notebook to script
  notebooks/2_convolutions/03_mlflow.py
Due: mypy

add jupytext as dependency
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

mads_datasets>=0.3.12
  pyproject.toml
Due: toml-sort

remove deprecated info
  notebooks/0-baseline/00_environment_setup.md
Due: none

Path conditions:
  toml-sort: any of: *.toml
  mypy: any of: *.py
