Repository raoulg/MADS-MachineLearning-course: changes, and which lefthook commands are due for each by the changed paths.
All: toml-sort, mypy

toml-sort:
  run: toml-sort {staged_files}
  stage_fixed: true

mypy:
  run: mypy --pretty {staged_files}

cleanup
  notebooks/6_unsupervised/README.md
  notebooks/6_unsupervised/run.sh
  notebooks/8_extras/deployment/04_social_contracts.md
Due: none

:wqcleanup pyproject.toml, add torch source
  pyproject.toml
Due: toml-sort

swap black for rye fmt
  .lefthook.yml
Due: none

Revert ":wqcleanup pyproject.toml, add torch source"
  pyproject.toml
Due: toml-sort

update and cleanup dependencies
  .python-version
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: toml-sort

rye universal = true
  pyproject.toml
Due: toml-sort

change backend to hatchling
  pyproject.toml
Due: toml-sort

reduce gru start params
  notebooks/3_recurrent_networks/gestures_gru.gin
Due: none

[lesson 5] fixed cache check for minimal_tranfer_learning
  notebooks/4_tuning_networks/05_minimal_transfer_learning.ipynb
Due: none

[lesson 1] fix type modellogs dir for tensorboard
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

fix: pyproject.toml causes error with rye sync requesting src folder
  pyproject.toml
Due: toml-sort

move to bpe
  notebooks/4_tuning_networks/01_embeddings.ipynb
Due: none

update logfolder
  notebooks/5_attention/03_Attention_gestures.ipynb
Due: none

update logdir
  notebooks/5_attention/05_imdb_attention.ipynb
Due: none

update leerdoelen UDL hoofdstukken
  references/leerdoelen/les5.md
  references/leerdoelen/les6.md
  references/leerdoelen/les7.md
Due: none

devcontainer
  .devcontainer/devcontainer.json
  .gitignore
Due: none

fix by Tijs: reconstructionloss np vs torch
  notebooks/6_unsupervised/src/autoencoder.py
  notebooks/6_unsupervised/src/query_embeddings.py
Due: mypy

reduce dims to 2 for plotting
  notebooks/6_unsupervised/src/settings.py
Due: mypy

update makefile
  notebooks/6_unsupervised/Makefile
Due: none

swap pyright for mypy
  .lefthook.yml
  pyproject.toml
Due: toml-sort

update presentation 6
  presentations/deep_learning_6.pdf
Due: none

add extra video material to les 7
  references/leerdoelen/les7.md
Due: none

[les 7] add extra youtube resources
  references/leerdoelen/les7.md
Due: none

[les 7] add awesome hyperbolic representation list
  references/leerdoelen/les7.md
Due: none

[les 7] update slides
  presentations/deep_learning_7.pdf
Due: none

Update les7.md
  references/leerdoelen/les7.md
Due: none

add spaces for GitHub markdown
  references/leerdoelen/les2.md
Due: none

Update les2.md
  references/leerdoelen/les2.md
Due: none

Update les3.md
  references/leerdoelen/les3.md
Due: none

Update les5.md
  references/leerdoelen/les5.md
Due: none

Update les6.md
  references/leerdoelen/les6.md
Due: none

Update les4.md
  references/leerdoelen/les4.md
Due: none

Update les1.md
  references/leerdoelen/les1.md
Due: none

Path conditions:
  toml-sort: any of: *.toml
  mypy: any of: *.py
