Repository raoulg/MADS-MachineLearning-course: changes, and which lefthook commands are due for each by the changed paths.
All: toml-sort, mypy

.lefthook.yml:

pre-commit:
  commands:
    black:
      files: git ls-files
      glob: '*.{py, ipynb}'
      run: black {staged_files}
      stage_fixed: true
    clean-jupyter:
      files: git ls-files
      glob: '*.ipynb'
      run: pdm run jupyter nbconvert --clear-output --inplace {staged_files}
      stage_fixed: true
    toml-sort:
      glob: '*.toml'
      run: pdm run toml-sort {staged_files}
      stage_fixed: true
    ruff:
      files: git ls-files
      glob: '*.py'
      run: pdm run ruff {staged_files}
    mypy:
      glob: '*.py'
      run: pdm run mypy --pretty {staged_files}
    lychee:
      run: lychee . --suggest --max-concurrency 32 --cache --format detailed --header "accept=*/*"

pre-merge:
  commands:
    black:
      glob: '*.{py, ipynb}'
      run: black {all_files}
      stage_fixed: true
    clean-jupyter:
      glob: '*.ipynb'
      run: pdm run jupyter nbconvert --clear-output --inplace {all_files}
      stage_fixed: true
    toml-sort:
      glob: '*.toml'
      run: pdm run toml-sort {all_files}
      stage_fixed: true
    ruff:
      glob: '*.py'
      run: pdm run ruff {all_files} --fix
    mypy:
      glob: '*.py'
      run: pdm run mypy --pretty {all_files} --ignore-missing-imports
    lychee:
      run: lychee . --suggest --max-concurrency 32 --cache --format detailed --header "accept=*/*"

dependencies
  pdm.lock
  pyproject.toml
Due: toml-sort

add lycheecache to gitignore
  .gitignore
  .lycheecache
Due: none

lesson 1
  notebooks/1_pytorch_intro/00_download_mnist.ipynb
  notebooks/1_pytorch_intro/01_tensors.ipynb
  notebooks/1_pytorch_intro/02_datagenerators.ipynb
  notebooks/1_pytorch_intro/03_dataloader.ipynb
  notebooks/1_pytorch_intro/04_autograd.ipynb
  notebooks/1_pytorch_intro/05_linearmodel.ipynb
  notebooks/1_pytorch_intro/06_image_classfication.ipynb
Due: none

update Makefile les 6
  notebooks/6_unsupervised/Makefile
Due: none

linting les 7
  .gitignore
  notebooks/7_whatsnext/deployment/02_scalable.md
Due: none

notebooks les 1
  notebooks/1_pytorch_intro/06_image_classfication.ipynb
  notebooks/1_pytorch_intro/07_excercises.ipynb
Due: none

les 1
  notebooks/1_pytorch_intro/06_image_classfication.ipynb
  notebooks/1_pytorch_intro/07_excercises.ipynb
Due: none

notebooks les 2
  notebooks/2_convolutions/01_losses.ipynb
  notebooks/2_convolutions/02_convolutions.ipynb
  notebooks/2_convolutions/03_mlflow.ipynb
Due: none

update pdm
  pdm.lock
  pyproject.toml
Due: toml-sort

notebooks les 3
  notebooks/3_recurrent_networks/03_basemodels.ipynb
  notebooks/3_recurrent_networks/04_excercise.ipynb
Due: none

rework all notebooks to mltrainer
  notebooks/0-baseline/02_pydantic.ipynb
  notebooks/1_pytorch_intro/06_image_classfication.ipynb
  notebooks/4_tuning_networks/01_embeddings.ipynb
  notebooks/4_tuning_networks/02_hypertuner.ipynb
  notebooks/4_tuning_networks/03_ray.ipynb
  notebooks/4_tuning_networks/05_lr_schedulers_with_resnet.ipynb
  notebooks/4_tuning_networks/visualize.py
  notebooks/5_attention/01_reweighing.ipynb
  notebooks/5_attention/02_Attention_gestures.ipynb
  notebooks/5_attention/03_imdb_preprocessing.ipynb
  notebooks/5_attention/04_imdb_attention.ipynb
  notebooks/5_attention/05_metric.ipynb
  notebooks/5_attention/06_excercise.ipynb
  notebooks/5_attention/gestures.gin
  notebooks/6_unsupervised/01_autoencoder.py
  notebooks/6_unsupervised/README.md
Due: mypy

simplify hypertune
  hypertune.py
Due: mypy

clean out src
  src/__init__.py
  src/settings.py
  src/typehinting.py
  src/visualization/.gitkeep
  src/visualization/__init__.py
  src/visualization/visualize.py
Due: mypy

update lefthook
  .lefthook.yml
Due: none

linting elfarol
  notebooks/0-baseline/Makefile
  notebooks/0-baseline/elfarol/agents.py
  notebooks/0-baseline/elfarol/bar.py
  notebooks/0-baseline/elfarol/hypotheses.py
  notebooks/0-baseline/elfarol/solution.py
Due: mypy

update hypertune
  notebooks/4_tuning_networks/hypertune.py
Due: mypy

update notebooks les 1
  notebooks/1_pytorch_intro/00_download_mnist.ipynb
  notebooks/1_pytorch_intro/03_dataloader.ipynb
  notebooks/1_pytorch_intro/05_linearmodel.ipynb
  notebooks/1_pytorch_intro/06_image_classfication.ipynb
Due: none

update lesson 6 autoencoders
  notebooks/6_unsupervised/.gitignore
  notebooks/6_unsupervised/02_show_vae.py
  notebooks/6_unsupervised/Makefile
  notebooks/6_unsupervised/deprecated_02_siamese.ipynb
  notebooks/6_unsupervised/deprecated_autoencoders.ipynb
  notebooks/6_unsupervised/src/autoencoder.py
  notebooks/6_unsupervised/src/query_embeddings.py
  notebooks/6_unsupervised/src/settings.py
  notebooks/6_unsupervised/src/show_vae.py
  notebooks/6_unsupervised/src/vae_embeddings.py
Due: mypy

update notebooks
  notebooks/2_convolutions/02_convolutions.ipynb
  notebooks/4_tuning_networks/02_hypertuner.ipynb
  notebooks/4_tuning_networks/03_ray.ipynb
  notebooks/4_tuning_networks/04_lr_schedulers_with_resnet.ipynb
  notebooks/4_tuning_networks/05_excercises.ipynb
  notebooks/4_tuning_networks/modellog/20231019-122137/events.out.tfevents.1697710897.Raouls-MacBook-Pro.local.85223.0
  notebooks/5_attention/03_imdb_preprocessing.ipynb
  notebooks/5_attention/04_imdb_attention.ipynb
  notebooks/5_attention/05_metric.ipynb
  notebooks/5_attention/06_excercise.ipynb
Due: none

update pyproject.toml
  notebooks/6_unsupervised/.gitignore
  pdm.lock
  pyproject.toml
Due: toml-sort

update explainable les 7
  notebooks/7_whatsnext/explainable/01_deepclassification.ipynb
  notebooks/7_whatsnext/explainable/02_image_explainer.py
Due: mypy

add shap as dependency
  pdm.lock
  pyproject.toml
Due: toml-sort

update lab setup
  notebooks/1_pytorch_intro/lab-setup.pdf
Due: none

deps
  pdm.lock
  pyproject.toml
Due: toml-sort

[les 1] rename notebooks
  notebooks/1_pytorch_intro/04_linearmodel.ipynb
  notebooks/1_pytorch_intro/05_image_classfication.ipynb
  notebooks/1_pytorch_intro/06_excercises.ipynb
  notebooks/1_pytorch_intro/07_extra_autograd.ipynb
Due: none

lefthook remove tomlsort
  .lefthook.yml
Due: none

codestyle
  references/codestyle/01_git_basics.md
  references/codestyle/01_path.md
  references/codestyle/02_trunk_based_git.md
  references/codestyle/02_version_management.md
  references/codestyle/03_dependencies_management.md
  references/codestyle/CodestyleStandards.md
  references/codestyle/cookiecutter.md
  references/codestyle/linting.md
  references/codestyle/loguru.md
  references/codestyle/pathlib.md
  references/codestyle/pydantic.md
  references/codestyle/typehinting.md
Due: none

Update README.md
  README.md
Due: none

rename notebooks
  notebooks/1_pytorch_intro/03_dataloader.ipynb
  notebooks/1_pytorch_intro/04_neuralnets.ipynb
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

ex1
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

update pydantic deprecated .dict()
  notebooks/6_unsupervised/src/autoencoder.py
Due: mypy

add tensorboard to pyproject.toml
  pdm.lock
  pyproject.toml
Due: toml-sort

remove devcontainer
  .devcontainer/devcontainer.json
Due: none

[les 2] add more summaries of the models
  notebooks/2_convolutions/02_convolutions.ipynb
Due: none

[les 2] exercises
  notebooks/2_convolutions/04_exercises.ipynb
Due: none

[les 1] clarify grading of exercises
  notebooks/1_pytorch_intro/06_exercises.ipynb
Due: none

update lockfile
  pdm.lock
Due: none
